/* Fuente */
@font-face {
    font-family: "Comics-neueONE";
    src: url(../font/ComicNeue-BoldItalic.ttf);
}
@font-face {
    font-family:"Comics-neueTwo" ;
    src: url(../font/ComicNeue-Bold.ttf);
}

/* umiversal */
*{
    outline: 2px solid red;
}
body {
    background-color: #FFF8E7;
    color: #330000;   
    font-family: "Comics-neueTwo";     
}

 /* header */

 .headerBlog{
 display: flex;
 justify-content: space-between;
 background-color:#DFDDDD ;
}

.box.enlaces, .nav{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
.headerEnlaces.DOS ,.headerEnlaces.TRES{
    margin:0px 10px ;
}
.box.search{
    display: flex;
    align-items: center;

}
.label-search{
    margin-right: 5px;
}
.box.image{
    display: flex;
    align-items: center;
}
.headerEnlaces, .EnlacesBlog {
    font-family: "Comics-neueONE";
    text-decoration: none;

}
.titleHeader{
        font-size: 1.5em;
        margin: 15px 0px;
}

.box.logo {
    display: flex;
    align-items: center;
}

/* main */
main {
    display: flex;
} 
.nav.blog {
    flex-direction: column;
    margin-top: 21px;
    align-items: baseline;
}
.contenido {
    background:#DFDDDD ;
    border-radius: 10px;
        margin-top: 20px
}
.contenido.principal{
    
}

.contenido.navegacion{
    display: none;
    margin-right: 20px;
}
p {
    font-size: 19px;
    margin:8px 155px ;
}

h2{
    font-size: 25px;
    margin:8px 155px;
}
h1{
    margin: 5px 155px;
}